h1 {
  text-align: center;
  color: rgb(0, 0, 0);
} 
p {
  text-align: center;
  color: rgb(0, 0, 0);
} 
body {
  background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3B4MTU5NDg4NC1pbWFnZS1rd3Z4cnkzaC5qcGc.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  margin: 0;
}
/* Forskjellige type tekster */
p2 {
  font-size: 20px;
}
h2 {
  font-size: 40px;
}

/* Tekster over /*
/* Under her er gridden */

.container {
display: grid;
grid-template-rows: 100px 100px 100px 100px ;
grid-template-columns: 100px 100px 100px 100px;
width: 80%;
width: 80%;
margin-left: 185px;
margin-right: auto;
margin-top: 20px;
border: 10px solid var(--clr-dark);
}
.item {
  padding: 0.5em;
  background-color: #ffffff;
  font-weight: 700;
  color: var(--clr-light);
  border: 10px solid var(--clr-accent);
}
body {
  padding: 0;
  line-height: 1.6;
  word-spacing: 1.4px;
  font-family: 'Roboto', sans-serif;
  color: var(--clr-dark);
  background-color: var(--clr-light);
}

:root {
  --clr-dark: #0f172a;
  --clr-light: #000000;
  --clr-accent: #baf7c6;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.item-1 {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 1;
  }
  .item-2 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start:3 ;
    grid-column-end: 9;
    }

    .item-3 {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start:9;
      grid-column-end: 9;
      }

      .item-4 {
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column-start:3 ;
        grid-column-end: 10;
        }





        body {
          font-family: "Lato", sans-serif;
        }
        
        .sidenav {
          height: 100%;
          width: 160px;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          background-color: #111;
          overflow-x: hidden;
          padding-top: 20px;
        }
        
        .sidenav a {
          padding: 6px 8px 6px 16px;
          text-decoration: none;
          font-size: 25px;
          color: #818181;
          display: block;
        }
        
        .sidenav a:hover {
          color: #f1f1f1;
        }
        
        .main {
          margin-left: 160px; /* Same as the width of the sidenav */
          font-size: 28px; /* Increased text to enable scrolling */
          padding: 0px 10px;
        }
        
        @media screen and (max-height: 450px) {
          .sidenav {padding-top: 15px;}
          .sidenav a {font-size: 18px;}
        }

/* Under her er grid nr 2 */
.containerZ {
  display: grid;
  grid-template-rows: 100px 100px 100px 100px ;
  grid-template-columns: 100px 100px 100px ;
  }
  .itemZ {
    padding: 0.5em;
    background-color: #ffffff;
    font-weight: 700;
    color: var(--clr-light);
    border: 10px solid var(--clr-accent);
  }
  
  .containerZ {
    width: 80%;
    margin-left: 185px;
    margin-right: auto;
    border: 10px solid var(--clr-dark);
  }
  
  :root {
    --clr-dark: #0f172a;
    --clr-light: #000000;
    --clr-accent: #baf7c6;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  .item-5 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 1;
    }
    .item-6 {
      grid-row-start: 3;
      grid-row-end: 5;
      grid-column-start:1 ;
      grid-column-end: 4;
      }
  
      .item-7 {
        grid-row-start: 1;
        grid-row-end: 5;
        grid-column-start:4;
        grid-column-end: 7;
        }

        /* Over her er grid boksene*/

   

        
     
       



  
    

