p1 {
  text-decoration: underline;
} 

body{
  background-color: rgb(250, 233, 217);
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 10px;
  background-color: #cfc0a6;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}
.box {
  padding: 10px;
  border: 1px solid #584c36;
}

a.one:link {color: rgb(0, 0, 0); text-decoration: none;}
a.one:visited {text-decoration: none;}
a.one:hover {color: rgb(255, 12, 12); text-decoration: underline;}
a.one:active {text-decoration: none;}

a.two:link {color: rgb(0, 0, 0); text-decoration: none;}
a.two:visited {text-decoration: none;}
a.two:hover {color: rgb(255, 121, 12); text-decoration: underline;}
a.two:active {text-decoration: none;}

a.three:link {color: rgb(0, 0, 0); text-decoration: none;}
a.three:visited {text-decoration: none;}
a.three:hover {color: rgb(241, 201, 0); text-decoration: underline;}
a.three:active {text-decoration: none;}

a.four:link {color: rgb(0, 0, 0); text-decoration: none;}
a.four:visited {text-decoration: none;}
a.four:hover {color: rgb(5, 199, 31); text-decoration: underline;}
a.four:active {text-decoration: none;}

a.five:link {color: rgb(0, 0, 0); text-decoration: none;}
a.five:visited {text-decoration: none;}
a.five:hover {color: rgb(12, 52, 255); text-decoration: underline;}
a.five:active {text-decoration: none;}

a.six:link {color: rgb(0, 0, 0); text-decoration: none;}
a.six:visited {text-decoration: none;}
a.six:hover {color: rgb(243, 12, 255); text-decoration: underline;}
a.six:active {text-decoration: none;}

img.right {
  display: block;
  margin-left: auto;
  margin-right: 0px;
  width: 30%;
  height: auto;
}

