p {
  text-decoration: underline;
} 

body{
  background-color: rgb(250, 233, 217);
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 10px;
  background-color: #cfc0a6;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}
.box {
  padding: 70px;
  border: 1px solid #584c36;
}
