body {
    background-color: rgb(255, 255, 255);
  }

h1 {
font-family: verdana;
font-size: 30px;
color: rgb(0, 0, 0);
text-align: center;
  }

  p {
    font-family: verdana;
    font-size: 15px;
    color: rgb(0, 0, 0);
      }

/* Koden her er hvordan man lager en grid med css */
.grid-container{
    display: grid;
    grid-template-areas: 
    'box1 box1 box2 box2 box3 box3'
    'box1 box1 box2 box2 box3 box3';
    gap:30px;

    padding: 10px;
    height: 250px; }


.grid-container, .item1, .item2, .item3{
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px;}
    

    .item1{
        grid-area: box1;
        background-color: rgb(211, 186, 238);
        color: black;
        font-size: 1.1em;
        text-align: left;
    }

    .item2{
        grid-area: box2;
        background-color: rgb(211, 186, 238);
        color: black;
        font-size: 1.1em;
        text-align: left;
    }

    .item3{
        grid-area: box3;
        background-color: rgb(211, 186, 238);
        color: black;
        font-size: 1.1em;
        text-align: left;
    }
/* Over her er hvordan man lager css grid */

  
/* RESPONSIV visning på mobil */
@media (max-width: 500px) {
    .grid-container {
        grid-template-areas:
            "box1"
            "box2"
            "box3";
        grid-template-columns: 1fr;
        min-height: 150px; /* eller height: 200px; */
    }

    .item1, .item2, .item3 {
        height: auto;
    }
}
        

