a.ex1:hover, a.ex1:active {color: red;}
a.ex2:hover, a.ex1:active {color: rgb(217, 239, 26);}

.button-block {
    display: flex;
    justify-content: center;
}
.block-button-1 {
    text-align: center;
    border-radius: 35px;
    color: white;
    font-size: 21px;
    border: none;
    height: 75px;
    width: 330px;
    background-color: #4b9cdb;
    border-color: #bbdcff;
    box-shadow: 0px 0 15px #bbdcff;
}

.button-image {
    position: fixed;
    height: 30px;
    width: 30px;
    margin: 24px 0 0 -130px;
    animation: updown 2s ease infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}
