h1 {
  text-shadow: 1px 1px;
}
p {
  color: rgb(255, 255, 255);
  padding-left: 200px;
}
body {
  background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3B4MTU5NDg4NC1pbWFnZS1rd3Z4cnkzaC5qcGc.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  margin: 2;
}

/* Gridd under */


.grid-container {
  display: grid;
  grid-template-areas:
    'right header header header header header'
    'right main main main main main'
    'right main main main main main'
    'right main main main main main'
    'right main main main main main '
    'right main main main main main'
    'right footer footer footer footer footer';
  gap: 10px; /* Increased gap */
  
  padding: 20px; /* Increased padding */
  height: 800px;
}


.item1, .item2, .item3, .item4, .grid-container{
  padding: 20px;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.item1 {
  grid-area: header;
  background-color: #c0e7bd;
  color: #333; /* Darker text for readability */
  font-size: 1.1em;
  text-align: center;
}

.item2 {
  grid-area: main;
  background-color: #c0e7bd;
  color: #333; /* Darker text for readability */
  font-size: 1.1em;
  text-align: center;
}

  

.item3 {
  grid-area: footer;
  background-color: #c0e7bd;
  color: #333; /* Darker text for readability */
  font-size: 1.1em;
  text-align: center;
}

.item4 {
  grid-area: right;
  background-color: #c0e7bd;
  color: #333; /* Darker text for readability */
  font-size: 1.1em;
  text-align: center;
}
/* Grid over */



/* En tabell til Undersiden */

table {
  padding: 1px;
  }
  th, td {
   padding-left: 100px;
   padding-right: 50px;
   border: 2px solid;
  }
  th {
   height: 70px;
  }
  th,tr,th:nth-child(even) {
   background-color: #ffffff;
  }
  td {
   height: 70px;
  }

/* Tabell over */

.btn-menu .button {
  font-family: 'Times New Roman', Times, serif;
    background-color: #7ddd84; /* Green */
    border: 1px solid #7ddd90;
    color: white;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    display: block;
    border-radius: 8px;

  }

.btn-group .button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
.btn-menu .button:hover {
    background-color: #cd5999;
  }


