h1 {
  text-shadow: 1px 1px;
}
p {
  color: rgb(250, 250, 250);
}
body {
  background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3B4MTU5NDg4NC1pbWFnZS1rd3Z4cnkzaC5qcGc.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  margin: 0;
}
/* En tabell til Undersiden */

table, th, td {
  border: 1px solid;
}
th {
  height: 70px;
}
th,tr,th:nth-child(even) {
  background-color: #ffffff;
}
td {
  height: 70px;
}


